<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37826543741-khtpac0fk5eduf6nf328ttkcj804j6k1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37826543741-khtpac0fk5eduf6nf328ttkcj804j6k1</string>
	<key>API_KEY</key>
	<string>AIzaSyCuHnDo-UhEGxf9sA_RNc9Z1yN3c3ZyQNA</string>
	<key>GCM_SENDER_ID</key>
	<string>37826543741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chat.push</string>
	<key>PROJECT_ID</key>
	<string>chat-15032</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-15032.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37826543741:ios:5ae006c9b2806fa9</string>
	<key>DATABASE_URL</key>
	<string>https://chat-15032.firebaseio.com</string>
</dict>
</plist>